#webThree 
{
     width:75em;
     min-width:75em;
}

P, .note, .tip, .warning, .quote, .warning, .todo, UL, OL, DL, TD, TH, PRE
{
    max-width:100%;
}

.memu UL
{
    max-width:75em;
}

#webThree #head {
}

#webThree #pagedefault {
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 0px #000;
}

#webThree #maincol {
    
}

#webbgThree {
    background: #FFFFFF;
}

#webThree #footer {
     background-color: #FFFFFF;
}

P IMG, DIV IMG, LI IMG
{
    max-width:60em;
}

IMG
{
    max-width:75em;
}

ul, ol
{
    margin-left:1em;
    padding:0em;
}

li
{
    list-style-type:none;
    background:url(../Images/arrow_right.png) no-repeat 0px 2px;
    padding:0px 0px 0px 14px;
    font-size:1em;
}