<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundleIdentifier</key><string>com.epic.unrealengine4</string><key>CFBundleName</key><string>Unreal Engine</string><key>DashDocSetFamily</key><string>appledoc</string><key>DocSetPlatformFamily</key><string>Unreal Engine</string><key>DocSetFallbackURL</key><string>https://docs.unrealengine.com/latest/INT/</string><key>dashIndexFilePath</key><string>INT/API/index.html</string><key>isDashDocset</key><true /></dict></plist>